
<h1>Listing users</h1>

<%=raw jqgrid("Listing users", "users", "/users", 
[ 
   
  { :field => "id", :label => "id",:width => 50 },    
  { :field => "username", :label => "username",:width => 120,:editable => true },    
  { :field => "email", :label => "email",:width => 120,:editable => true },    
  { :field => "name", :label => "name",:width => 100,:editable => true },    
  { :field => "lastname", :label => "lastname",:width => 100,:editable => true },
  { :field => "roles", :label => "roles",:width => 180 }   
  ] , {:add => true,:edit => true,:delete => true,:view => true,:edit_url => post_data_users_url,:sortable_rows => 'true'}  
  ) %>
<p><%= link_to "Edit roles",roles_path%></p>
