
<%=raw jqgrid("List of roles", "roles", "/roles", 
[ 
   
  { :field => "id", :label => "id",:width => 50 },    
  { :field => "role_name", :label => "name",:width => 180,:editable => true } 
  ] , {:add => true,:edit => true,:delete => true,:view => true,:edit_url => post_data_roles_url,:sortable_rows => 'true'}  
  ) %>
<p><%= link_to "Back to users list",users_path %></p>