// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a,a.visited{color:#0099FF}

.tableHeader{
	background-color:white;
	
}

.tableActions{
	background-color:white;
}

.odd{
	background-color:lightgrey;
}
.even{
	background-color:lightblue;
}